*.RData
*.xlsx
/AIS_data/*
/EflaloAndTacsat/*.RData
!/EflaloAndTacsat/eflalo_2019_example.RData
!/EflaloAndTacsat/tacsat_2019_example.RData
/EflaloAndTacsat/*.csv
/ggplots/*
/outputs2020/*
/outputs2020_pel/*
/outputs2020_gns/*
/outputs2020_gns/output_plots/*
/outputs2020_lgbkonly/*
benthisMapping2020.r
/STECF 20-01 adhoc - all supporting data and code/*

